.card-body{
    padding: 10px;
    margin: 20px;
}

.cajas-card {
    display: flex;
    justify-content: center;
}

#card-responsive{
    max-width: 100%;
    height: auto;
    padding: 10px;
    margin: 10px;
}

/* #footer {
    background-color: grey;

} */

/* #footer-text {
    color: aliceblue;
} */

.navbar-toggler {
    background-color: #0000001a;
    border: 1px solid black;
}

.header {
    margin: 1%;
}